# LeetCode #343. Integer Break

## Question
    
https://leetcode.com/problems/integer-break/


    Given a positive integer n, break it into the sum of at least two positive integers and maximize the product of those integers. Return the maximum product you can get.

Example 1:

    Input: 2
    Output: 1

Explanation: 2 = 1 + 1, 1 × 1 = 1.

Example 2:

    Input: 10
    Output: 36

Explanation: 10 = 3 + 3 + 4, 3 × 3 × 4 = 36.

Note: You may assume that n is not less than 2 and not larger than 58.

In [ ]:
def integerBreak(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    if n == 2:
        return 1
    
    if n == 3:
        return 2
    if n == 4:
        return 4

    if n == 5:
        return 3 * 2  = 6
    if n == 6:
        return 3 * 3  = 9
    
    if n == 7:
        return 3 * 2 * 2   == 12  # 3이 하나 2가 둘    (1, 2)
    if n == 8:
        return 3 * 3 * 2  == 18  # 3이 둘 2가 하나    (2, 1)

if n > 8:
    
    if n // 3 == a
    # n // 3 == 3
    if n == 9: 
        return 3 * 3 * 3  # 3이 셋            (3, 0)        3**a * 4**0
    if n == 10:
        return 3 * 3 * 4  # 3이 둘 4 하나       (2, 1)       3**(a-1) * 4**1
    if n == 11:
        return 3 * 3 * 3 * 2
        return 3 * 4 * 4  # 3이 하나 4가 둘      (1, 2)       3**(a-2) * 4**2
 
    # n // 3 == 4
    if n == 12
        return 3 * 3 * 3 * 3  # 3이 넷 4가 0   (4, 0)      3**a * 4**0
    if n == 13:
        return 3 * 3 * 3 * 4  # 3이 셋 4가 하나  (3, 1)     3**(a-1) 4**1
    if n == 14:
        return 3 * 3 * 4 * 4  # 3이 둘 4가 둘   (2, 2)     3**(a-2)  4**2

    # n // 3 == 4
    if n == 15:
        return 3 * 3 * 3 * 3 * 3      (5, 0)
    if n == 16: 
        return 3 * 3 * 3 * 3 * 4      (4, 1)
    if n == 17:
        return 3 * 3 * 3 * 4 * 4      (3, 2)

In [14]:
4**1

4

In [15]:
12 % 3

0

In [16]:
13 % 3

1

In [18]:
14 % 3

2

## My Solution

In [2]:
def integerBreak(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    if n == 2:
        return 1
    
    if n == 3:
        return 2
    if n == 4:
        return 4

    if n == 5:
        return 3 * 2
    if n == 6:
        return 3 * 3
    
    if n == 7:
        return 3 * 2 * 2
    if n == 8:
        return 3 * 3 * 2

    else:
        a = n // 3
        b = n % 3
        return 3**(a-b) * (4**b)

In [3]:
# test code
integerBreak(15)

243